@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: #f6f6f6;
}

/* header section style*/
header {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 80vh;
  max-height: 90vh;
  background: url("images/banner/banner1.png"),
    linear-gradient(to right, red, pink);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  overflow: hidden;
}
.container {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
.banner {
  min-width: 45%;
  max-width: 570px;
  margin-top: 216px;
  text-align: right;
}

.banner-title {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 30px;
}
.banner-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 5px;
  background: #f15b22;
  border: none;
}

/* main section style */
main {
  max-width: 1600px;
  margin: 0 auto;
}
.main-container {
  max-width: 70%;
  margin: 100px auto;
}
.person-container {
  min-height: 80vh;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  overflow: hidden;
}

.person {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
}
.person .person-img-bg {
  width: 80%;
  height: 80%;
  background: #fcded3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: -1;
}

.person img {
  width: 100%;
  height: 100.5%;
  margin-bottom: -10px;
}

.person-content {
  width: 50%;
  padding-left: 100px;
}
.person-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}
.person-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 18px;
}
.person-list {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 18px;
  list-style: none;
}

.person-list li {
  padding: 5px 0;
}

.person-list li:before {
  content: "\1F5F8";
  color: #16d887;
  padding-right: 5px;
  font-weight: 800;
}

/* my plan section */
.section-title {
  text-align: center;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 60px;
}

.plan-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 50px;
}
.plan-content .plan {
  text-align: center;
  width: 25%;
}

.plan img {
  width: 60%;
  height: 60%;
}

.plan .plan-img {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.plan .plan-title {
  color: #151414;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.plan .plan-description {
  color: #737272;
  font-size: 20px;
  font-weight: 500;
}

/*call to action section style*/
